
$brand-color: #646faa;
$brand-color-light: #848faa;
$brand-color-dimmed: #545faa;
$brand-color-dark: #444faa;

$site-title-color: $brand-color-dark;

$heading-color: #2f2844;
$text-color: #0c0c13;//$lm-brand-color-dark
$background-color: #ceedff;
$code-background-color: #ffdaaa;

$link-base-color: #1e69d8;
$link-visited-color: #5e59a8;
$link-hover-color: $text-color;

$border-color-01: $brand-color-light;
$border-color-02: $brand-color;
$border-color-03: $brand-color-dark;

$table-text-color: $heading-color;
$table-zebra-color: $brand-color;
$table-header-bg-color: $brand-color;
$table-header-border: $brand-color;
$table-border-color: $border-color-01;
