<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  </head>
  <body>
    {% include header.html %}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include mathjax.html %}

    {% include footer.html %}
  </body>
</html>